.user-word-container{    
    display: flex;    
    background-color: aquamarine;
    align-items: center;    
    justify-items: center;
    flex-direction: row;
    margin: 0 auto;
    /* position: relative; */
}
.active{
    background-color: blue;
}
.box {    
    width: 20px;
    height: 20px;
    background-color: pink;    
    margin: 2px;
    text-align: center;    
    font-weight: bold;
    font-size: x-large;
    flex: 1;
}